
body {
    font-family: 'Merriweather', serif;
    background-color: #FDF5DE;
}

p {
    font-family: 'merriweather', serif;
}


/*navbar for mobile*/
.top-navbar {
    display: none;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9A3328;
    position: relative;

    
}

.burger {
    position: absolute;
    left: 5%;
    cursor: pointer;


}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*roll down burgerbar*/

.burger-bar {
    display: none;
    cursor: pointer;
    
}

.menu-burger {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #9A3328;
    flex-direction: column;
}

.burgermenu-item  {
    position: relative;
}

.burgermenu-item a {
    display: block;
    text-decoration: none;
    padding: 14px 20px;
    color:#FDF5DE;
    font-weight: bold;

}

.burger-menu-item a {
    display: block;
    text-decoration: none;
    padding: 14px 20px;
    color:#FDF5DE;
    font-weight: bold;
    
}

.burger-menu-item a:hover, .burgermenu-item a:hover { 
    background-color: #FDF5DE;
    color: #9A3328;

}

.burgermenu-item .burger-submenu {
    display: none;
    top: 100%;
    left: 0;
    border: 1px solid #FDF5DE;
    padding: 0;
    margin: 0;
}

.burger-submenu {
    display: none;
    top: 100%;
    left: 0;
    background-color:#FDF5DE;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.burger-submenu a {
    color: #9A3328;
}

.burger-submenu-item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.burger-submenu-item a:hover {
    background-color:#9A3328;
    color:#FDF5DE;
}

.burger-menu-item .burger-submenu.show {
    display: block;
}


/*styling of mobile: main part - index*/
.main {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    background-color: #9A3328;
    padding-bottom: 10%;
    color: #FDF5DE;
    font-family:'Raleway', sans-serif;
}

.second {
    font-family:'Raleway', sans-serif;
    display: flex;
    flex-direction: column;

}

.main h2 {
    padding-left: 20%;
}

/*products*/

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-2 {
    display: none;
}



/*styling og mobile: hvorfor-alkohol?*/
.main-alcohol {
    background-color: #9A3328;
    padding-bottom: 5%;
    color: #FDF5DE;

}

.main-alcohol p {
    padding: 0 5%;

}

/*om oss*/
.main-oss {
    background-color: #9A3328;
    color:#FDF5DE;
    padding-bottom: 5%;
}

.main-oss p {
    padding: 0 5%;
}

.main-oss h2 {
    display: flex;
    justify-content: center;
}

/*om oss - second*/
.second-oss h2 {
    display: flex;
    justify-content: center;

}





/*footer*/
footer {
    background-color: #9b862e;
    color:#FDF5DE;
}

.end {
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
}

.contact p {
    padding-left: 3%;
}

.logo-footer-desk {
    display: none;
}



/*top navigation bar for tablet*/
@media (min-width: 768px) {
    .top-navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        background-color: #9A3328;
        margin: 0;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .top {
        display: none;
    }
    
    .burger-bar {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: #FDF5DE;
        font-size: 105%;
        font-weight: bold;
    }
    
    .logo-desk {
        width: 35%;
        max-width: 100%;
    }
    

    /*dropdown menu*/
    
    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .menu-item  {
        position: relative;
        
    }

    .img-logo {
        display: flex;
        align-items: center;
    }
    
    .menu-item a {
        display: block;
        text-decoration: none;
        padding: 14px 40px;
        color:#FDF5DE;
    
    }
    
    .menu-item a:hover  {
        background-color:#FDF5DE;
        color: #9A3328;
    }
    
    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color:#9A3328;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 150px;
    }
    
    .submenu-item a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color:#FDF5DE;
    }
    
    .submenu-item a:hover {
        background-color:#FDF5DE;
        color:#9A3328;
    }
    
    .menu-item .submenu.show {
        display: block;
    }
    
    /*footer*/

.end {
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



.logo-footer {
    display:none;
}
    
    
    }


/*top navigation bar for desktop*/
@media (min-width: 1024px) {
.top-navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    background-color: #9A3328;
    margin: 0;

}

.top {
    display: none;
}

.burger-bar {
    display: none;
}

a {
    text-decoration: none;
    color: #FDF5DE;
    font-size: 100%;
    font-weight: bold;
}

/*dropdown menu*/

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item  {
    position: relative;
    
}

.menu-item a {
    display: block;
    text-decoration: none;
    padding: 14px 40px;
    color:#FDF5DE;

}

.logo-desk {
    width: 35%;
    max-width: 100%;
}


.menu-item a:hover  {
    background-color:#FDF5DE;
    color: #9A3328;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#9A3328;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.submenu-item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color:#FDF5DE;
}

.submenu-item a:hover {
    background-color:#FDF5DE;
    color:#9A3328;
}

.menu-item .submenu.show {
    display: block;
}

/*main part*/
.products {
    display: none;
}

.products-2 {
    display: flex;
    justify-content: center;

}

/*footer*/

.end {
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



.logo-footer {
    display:none;
}

}